* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.logo {
    font-family: 'Sora', sans-serif;
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__cicle::after,
.logo__cicle::before {
    display: block;
    content: '';
    border-radius: 50%;
}

.logo__cicle::after {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__cicle::before {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    line-height: 0.77;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.16;
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: #10375c;
}

.header__top {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.log-in,
.navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    /* font-weight: 400; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
}

.navbar__active {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    /* font-weight: 400; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
}

.navbar__active::before {
    position: absolute;
    left: 8px;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: currentColor;
}

.action {
    display: flex;
    margin-left: 180px;
}

.sign-up {
    margin-left: 7px;
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    padding: 76px 0 110px;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__call {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    width: 210px;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__images .hero__img:first-child {
    position: relative;
    margin-right: -6px;
    width: 330px;
    height: 540px;
}

/* Service */
.service {
    margin-top: 85px;
    padding: 85px 0;
}

.service__header {
    text-align: center;
}

.service__heading__desc {
    margin-left: auto;
    margin-right: auto;
    width: 468px;
}

.service__body {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__item {
    padding: 21px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__icon {
    margin-right: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    transition: 0.3s;
}

.service__item:hover .service__icon {
    color: white;
    background: #2e80ce;
}

.service__title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service__desc {
    width: 308px;
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* Works */
.works {
    margin-top: 85px;
    padding: 100px 0;
}

.works__desc {
    width: 468px;
}

.works__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.works__item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.3s;
}

.works__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.works__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.works__info__desc,
.works__link {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.works__link {
    margin-top: 18px;
    display: inline-block;
}

.works__item:hover .works__link {
    color: #2e80ce;
    font-weight: 400;
}

/* Feature */
.feature {
    margin-top: 135px;
    padding: 35px 0;
}

.feature__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__left {
    padding-bottom: 121px;
    position: relative;
    width: 48%;
}

.feature__thumb {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__image .feature__thumb:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__right {
    width: 470px;
}

.feature__btn {
    margin-top: 38px;
}

/* Member */
.member {
    margin-top: 100px;
    padding: 35px 0;
}

.member__header {
    text-align: center;
}

.member__btn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__item:hover .member__thumb {
    transform: scale(1.1);
}

.member__image {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.3s;
}

.member__info {
    padding: 12px 18px;
    text-align: center;
}

.member__title {
    color: #10375c;
    font-size: 1.6rem;
    line-height: 1.75;
}

.member__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member__arrow {
    margin-top: 26px;
    justify-content: center;
}

.arrow {
    display: flex;
    column-gap: 18px;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575f66;
    background: transparent;
    border: 1px solid currentColor;
}

.arrow-icon:hover {
    color: #fff;
    background: #2e80ce;
    cursor: pointer;
}

/* Install */
.install {
    margin-top: 230px;
}

.install__body {
    padding: 0 70px;
    background: #2e80ce;
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.install__image {
    margin-top: -95px;
    width: 284px;
    height: 522px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    width: 489px;
}

.install__app {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

.install__app img {
    cursor: pointer;
}

/* News */
.news {
    margin-top: 135px;
    padding: 35px 0;
}

.news__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__left {
    width: 470px;
}

.news__read {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.news__right {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.news__item {
    width: 270px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    overflow: hidden;
}

.news__item:hover .news__thumb {
    transform: scale(1.1);
}

.news_image {
    overflow: hidden;
}

.news__thumb {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: 0.3s;
}

.news__info {
    padding: 18px 22px 21px;
}

.news__title {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.news__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news__link {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    line-height: normal;
}

.news__link:hover {
    color: #2e80ce;
}

/* Appointment */
.appointment {
    margin-top: 135px;
}

.appointment__body {
    padding: 100px 0;
    background: #f6fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment__heading {
    padding-bottom: 18px;
    position: relative;
}

.appointment__heading::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    content: '';
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc {
    margin-bottom: 38px;
    text-align: center;
    width: 617px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* Footer */

.footer {
    font-family: 'Open Sans', sans-serif;
    margin-top: 170px;
    padding-top: 100px;
    background-color: #10375c;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__column .footer__title:last-of-type {
    margin-top: 28px;
}

.footer__title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer__desc {
    max-width: 336px;
    margin-top: 22px;
    color: #a9b3bb;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link,
.footer__subscribe {
    color: #a9b3bb;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer__link {
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__subscribe {
    width: 273px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
}

.footer__social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #2e80ce;
}

.footer__social-btn:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__form {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}

.footer__email {
    border-radius: 4px;
    border: 1px solid #406181;
    padding: 0 10px;
    width: 212px;
    height: 46px;
    background-color: transparent;
    outline: none;
    color: #9ca8b1;
}

.footer__email::placeholder {
    color: currentColor;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer__submit {
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4px;
    min-width: 108px;
    line-height: 46px;
    outline: none;
    border: none;
    cursor: pointer;
}

.copyright {
    margin-top: 28px;
    padding: 28px 0 42px;
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.85;
    border-top: 1px solid #406181;
}
