* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__cicle::after,
.logo__cicle::before {
    display: block;
    content: '';
    border-radius: 50%;
}

.logo__cicle::after {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__cicle::before {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    line-height: 0.77;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.16;
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: #10375c;
}

.header__top {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.log-in,
.navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    /* font-weight: 400; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
}

.navbar__active {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    /* font-weight: 400; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
}

.navbar__active::before {
    position: absolute;
    left: 8px;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: currentColor;
}

.action {
    display: flex;
    margin-left: 180px;
}

.sign-up {
    margin-left: 7px;
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    padding: 76px 0 110px;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__call {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    width: 210px;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__images .hero__img:first-child {
    position: relative;
    margin-right: -6px;
    width: 330px;
    height: 540px;
}

/* Service */
.service {
    margin-top: 85px;
    padding: 85px 0;
}

.service__header {
    text-align: center;
}

.service__heading__desc {
    margin-left: auto;
    margin-right: auto;
    width: 468px;
}

.service__body {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__item {
    padding: 21px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__icon {
    margin-right: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    transition: 0.3s;
}

.service__item:hover .service__icon {
    color: white;
    background: #2e80ce;
}

.service__title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service__desc {
    width: 308px;
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* Works */
.works {
    margin-top: 85px;
    padding: 100px 0;
}

.works__desc {
    width: 468px;
}

.works__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.works__item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.3s;
}

.works__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.works__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.works__info__desc,
.works__link {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.works__link {
    margin-top: 18px;
    display: inline-block;
}

.works__item:hover .works__link {
    color: #2e80ce;
    font-weight: 400;
}

/* Feature */
.feature {
    margin-top: 135px;
    padding: 35px 0;
}

.feature__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__left {
    padding-bottom: 121px;
    position: relative;
    width: 49%;
}

.feature__thumb {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__image .feature__thumb:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__right {
    width: 470px;
}

.feature__btn {
    margin-top: 38px;
}
